<form (ngSubmit)="onSubmit()" #productForm="ngForm">

    <div>
        <input type="text"
        class="form-control my-2" 
        placeholder="name" 
        name="name" 
        [(ngModel)]="product.name" 
        #name="ngModel"
        required
        minlength="5">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
             @if (name.errors!["required"]) {<div>El name es requerido</div>}
             @if (name.errors!["minlength"]) { <div>El precio tiene que ser mayor que 5</div>}
        </div>
    </div>

    <div>   
         <input type="text" 
         class="form-control my-2"
        placeholder="description"
        name="decription" 
        [(ngModel)]="product.decription" 
        #description="ngModel"
        required>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
            @if (description.errors!["required"]) {<div>El description es requerido</div>}
        </div>
    </div>

    <div>
        <input type="number" 
        class="form-control my-2" 
        placeholder="price" 
        name="price" 
        [(ngModel)]="product.price" 
        #price="ngModel"
        required min="5" >
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            @if (price.errors!["required"]) {<div>El price es requerido</div>}
            @if (price.errors!["min"]) { <div>El precio tiene que ser mayor que 5</div>}
        </div>
    </div>

    <div>
        <button type="submit" 
        class="btn btn-primary my-2"
        [disabled]="!productForm.valid">{{product.id>0?"update":"create"}}</button>
        <button type="button" 
        class="btn btn-success my-2 mx-4" (click)="clean()">clean</button>
    </div>

</form>